@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}